* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
	background: transparent;
	box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body {
	font-family: IRANYekan,sans-serif;
    font-weight: 400;
    font-size: 14px;
	background: #F5F5F5;
    direction: rtl;
	margin: 0 0 100px;
	scroll-behavior: smooth;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav li a:hover {
    background-color: #111;
    border-radius: 6px;
}

nav li .active {
	background-color: #c7233c;
}


#navigation_left {
	float: left;
}


#navigation_right {
	float: right;
}

#content {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    min-width: 1009px;
    max-width: 1676px;

}

article
{
    background-color: rgba(251, 52, 73, 0.6);
	box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.14);
    line-height: 22px;
    border: 1px solid #dedede;
	margin: 3em auto;
	padding: 10px 100px;
	border-radius: 2px;
	border: solid #E0E0E0 1px;
}

header {
	margin: 50px 0;
}

article h1 {
	border-top: 10px;
	font-size: 40px;
	text-align: center;
	margin: 0px 20px 40px 0px;
}


article h1, p {
	color: white;
}

article img {
	clear: both;
	margin: 20px 0px;
	float: left;	
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
	text-align: center;
	padding: 2px;
	background: #c7233c;
}

footer h4 {
	padding-top: 4px;
	color: white;
}